/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #e470d1;
    background-color: #ffec9f;
  }

  img{
    vertical-align: text-bottom;
    width: 500px;
  }